<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>3D rat brain atlas (Papp et al. 2014, Kjonigsen et al. 2015)</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <!-- Attributes with the prefix "v-" are
       parsed by the JavaScript UI framework "Vue".
       See: https://vuejs.org
  -->
  <div id="atlas-app">
    <div id="viewer"></div>
    <div id="structure-list">
      <!-- Make a list of brain structures, to allow
           the user to choose the ones to display.
      -->
      <ul>
        <li v-for="s in structures">
          <input type="checkbox"
                 v-bind:id="'checkbox-' + s.ID"
                 v-model="s.visible">
          <label v-bind:for="'checkbox-' + s.ID">
            {{ s.title }}
          </label>
        </li>
      </ul>
    </div>
  </div>

  <script src="lib/vue.js"></script>
  <script src="lib/three.min.js"></script>
  <script src="lib/STLLoader.js"></script>
  <script src="lib/OrbitControls.js"></script>

  <script src="viewer.js"></script>
  <script src="data.js"></script>
  <script src="app.js"></script>
</body>
</html>
