<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>3D rat brain atlas (Papp et al. 2014, Kjonigsen et al. 2015)</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <!-- Attributes with the prefix "v-", `:`, or `@` are
       parsed by the JavaScript UI framework "Vue".
       See: https://vuejs.org
  -->
  <div id="atlas-app">
    <div id="viewer"></div>
    <div id="sidebar">
      <!-- Make a list of brain structures, to allow
           the user to choose the ones to display.
      -->
      <ul id="ontology">
        <li class="group" v-for="group in ontology">
            <input type="checkbox"
                   v-model="group.visible"
                   @click="group.structures.forEach((s)=>{s.visible=!group.visible})">
                   <!-- `NOT`, cause the @click happens before the v-model update -->
            <span :class="{ withChildren: !group.singleton,
                            open: !group.collapsed }"
                   @click="group.collapsed = !group.collapsed">
                {{ group.name }}
            </span>
            <ul v-if="!group.collapsed && !group.singleton">
                <li v-for="struct in group.structures">
                    <input type="checkbox"
                           :id="'checkbox-struct-' + struct.name"
                           v-model="struct.visible">
                    <label :for="'checkbox-struct-' + struct.name">
                        {{ struct.name }}
                    </label>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>

  <script src="lib/vue.js"></script>
  <script src="lib/three.min.js"></script>
  <script src="lib/STLLoader.js"></script>
  <script src="lib/OrbitControls.js"></script>

  <script src="viewer.js"></script>
  <script src="data.js"></script>
  <script src="app.js"></script>
</body>
</html>
