body {
  margin: 0;
  font-family: monospace;
  /* To get rid of a mistery margin/padding
     at the bottom of the page: */
  overflow: hidden;
}

#atlas-app {
  display: flex;
  height: 100vh;
}

#viewer {
  flex: 1;
}

#sidebar {
  background-color: #EEE;
  width: 20em;
  overflow: scroll;
  white-space: nowrap;
}

#ontology {
  list-style-type: none;
  padding-left: 1em;
}

#ontology > .group > span {
    cursor: pointer;
}
#ontology > .group > span::before {
    content: "·";
}
#ontology > .group > span.withChildren::before {
    content: "▸";
}
#ontology > .group > span.withChildren.open::before {
    content: "▾";
}
#ontology > .group > ul {
    list-style-type: none;
}
